<nav>  
    <a href="/">Hello Express</a>  
    <ul>  
        <li>  
            <a href="/">Home</a>  
        </li>  
        <li>  
            <a href="/Menu1">Menu1</a>  
        </li>  
        <li>  
            <a href="/Menu2">Menu2</a>  
        </li>  
        <li>  
            <a href="/Menu3">Menu3</a>  
        </li>  
    </ul>  
</nav>  